trainer:
  max_epochs: 50
  accelerator: gpu
  devices: 1
  num_nodes: 1
  strategy: ddp_find_unused_parameters_true
  precision: bf16-mixed
  # gradient clipping
  gradient_clip_val: 1.0
  gradient_clip_algorithm: norm
  # gradient accumulation (accumulate gradients for N steps before optimizer step)
  accumulate_grad_batches: 2
  # callbacks:
  # - class_path: lightning.pytorch.callbacks.ModelCheckpoint
  #   init_args:
  #     dirpath: checkpoints/jepa
  #     filename: "JEPA-{epoch:03d}-{val/loss:.4f}"
  #     monitor: val/loss
  #     mode: min
  #     save_top_k: 1                          # best checkpoint
  #     save_last: true                      # plus a copy of the final epoch
  #     auto_insert_metric_name: false       # keep filename clean
  #     every_n_epochs: 1
  #     save_on_train_epoch_end: true
  # logger:
  #   class_path: lightning.pytorch.loggers.WandbLogger
  #   init_args:
  #     project: "JEPA"
  #     name: "PointMaze/JEPA"
  #     log_model: true


model:
  # Architecture hyperparameters
  emb_dim: 128
  prediction_cost_discount: 0.5

  # Loss coefficients
  prediction_coeff: 10.0
  idm_coeff:      2.0

  # Mask coefs
  mask_bg_invariance_coeff: 1.0   # background should be temporally invariant
  mask_alignment_coeff:     0.1   # subject should cover changing regions
  mask_min_area_coeff:      0.1   # subject must cover at least k_min of image
  mask_sparsity_coeff:      0.0   # subject should be sparse
  mask_compactness_coeff:   0.1   # subject should be spatially compact
  mask_min_area:            0.01  # minimum fraction for subject
  mask_beta:                1     # temperature for sigmoid (higher = sharper)
  # Optimization hyperparameters
  initial_lr_encoder:     5e-3
  final_lr_encoder:       1e-7
  weight_decay_encoder:   1e-5

  initial_lr_predictor:   1e-2
  final_lr_predictor:     1e-7
  weight_decay_predictor: 1e-5

  warmup_steps: 200

  # Misc
  compile: false


data:
  data_path: data/train_trajectories_1000_100_4_64_largerdot.npz
  batch_size: 128
  num_workers: 2
  pin_memory: true
  val_size: 0.1
  seq_len: 8
  stride: 1
  normalize: false
